.background_inicio {
    background: linear-gradient(108deg, #ff8e479c, #00000066) center center / cover no-repeat fixed, url(../img/oesta.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
