/*promover*/
.background__promover {
    background: linear-gradient(94deg, #ff8e4778, #00000042) center center / cover no-repeat fixed, url(../img/librosmastaza.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container__promover {
    font-family: 'Tenor Sans', sans-serif;
    background-color: #d1d1d1;
}




.promover {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #000000;
    display: inline-grid;
    color: #ffff;
    margin: 0;
    padding: 10px;
}

.h3 {
    font-family: 'Noto Serif Toto', serif;
    text-align: center;
    margin: 10px;
    font-size: 25px;
    color: #ffff;
    background: #340979;
    background: linear-gradient(333deg, #340979 26%, #806bc3 45%, #00d4ff 89%);
}

.card {
    width: 40%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

#tarjeta {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    margin: 20px;
    padding: 40px;
    display: flex;
}

.textop {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    color: #000000;
    display: flex;
}

.card-body {
    width: 100%;
    font-size: 20px;
}