/*promover*/
.background__promover {
    background: linear-gradient(94deg, #ff8e4778, #00000042) center center / cover no-repeat fixed, url(../img/librosmastaza.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container__promover {
        font-family: 'Tenor Sans', sans-serif;
        background-color: #d1d1d1;

        .p1 {
            font-family: $font-main;
            background-color: #faebd7;
            font-size: 25px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 60px;
            border-style: double;
        }

        .p2 {
            font-family: $font-main;
            background-color: #faebd7;
            font-size: 25px;
            padding: 20px;
            border-bottom-right-radius: 60px;
            border-start-start-radius: 50px;
            border-style: double;
        }

        .container__lectura {
            font-family: 'Noto Serif', serif;
            font-size: 20px;

            #card-2 {
                text-align: center;
                margin: auto;
                margin-bottom: 20px;
                margin-top: 20px;
                font-family: 'Open Sans', sans-serif;

                .body {
                    width: 100%;
                    font-size: 20px;
                }
            }
        }
    }
}