.background__interactuar {
    background: linear-gradient(94deg, #ff8e4778, #00000042) center center/cover no-repeat fixed, url(../img/maquinadeescribir.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;

        .navbar-toggler {
            background-color: $color-second;
            color: #8b8b8b8a;
            border-radius: 10px;
        }

        .navbar-nav {
            font-family: 'Noto Serif', serif;
            font-size: 25px;
            margin-inline: 20px;
            padding: 5px;
            gap: 20px;

            .nav-link {
                background-color: #faebd7b0;
                color: #000000;

                &:hover {
                    background-color: $color-main;
                    color: #ffffff;
                }
            }
        }
    }
}




    .section__principal {
        background-color: #faebd71f;
        width: 100%;
        height: 100vh;
        padding: 7rem;

        .title {
            font-family: 'Noto Serif Toto', serif;
            color: #EEEEEE;
            font-size: 80px;
            text-align: center;
            padding: 50px;

            /*coloressss*/
            .t1 {
                background-color: $color-main;

                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }

            .t2 {
                background-color: $color-second;

                &:hover {
                    background-color: #000000;
                }
            }

            .t3 {
                background-color: $color-main;

                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }

            .t4 {
                background-color: $color-second;

                &:hover {
                    background-color: #000000;
                }
            }

            .t5 {
                background-color: $color-main;

                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }

            .t6 {
                background-color: $color-second;

                &:hover {
                    background-color: #000000;
                }
            }

            .t7 {
                background-color: $color-main;

                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }

            .t8 {
                background-color: $color-second;

                &:hover {
                    background-color: #000000;

                }
            }

            .promover {
                font-family: 'Tenor Sans', sans-serif;
                font-size: 40px;
                text-align: center;
                background-color: #000000;
                display: inline-grid;
                color: #ffff;
                margin: 0;
                padding: 10px;
            }
        }
    }



.btn {
    font-family: 'Noto Serif Toto', serif;
    background-color: #ffffffbf;
    padding: 0px;
    color: #000000;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #0000004d;
}