.navbar-expand-lg {
    flex-direction: column;

    .navbar-toggler {
        background-color: #02020299;
        color: #ffffff;
        border-radius: 10px;

        &:hover {
            background-color: #ffffff;
            color: #02020299;
        }

        .fa-solid {
            font-size: 30px;
        }
    }

    .fixed-top {
        left: inherit;
        overflow: auto;
    }

    .offcanvas {
        background: linear-gradient(94deg, #477cffcf, #5632efcf);

        .offcanvas-header {
            font-family: 'Noto Serif', serif;
            font-size: 25px;
            margin-inline: 20px;
            padding: 5px;


            .nav-link {
                background-color: #faebd7b0;
                color: #000000;
                margin: 20px;
                padding: 10px;

                &:hover {
                    background-color: $color-main;
                    color: #ffffff;
                }
            }
        }
    }

    .navbar-collapse {
        flex-direction: column;

        .navbar-nav {
            font-family: 'Noto Serif', serif;
            font-size: 25px;
            margin-inline: 20px;
            padding: 5px;
            gap: 20px;

            .nav-link {
                background-color: #faebd7b0;
                color: #000000;

                &:hover {
                    background-color: $color-main;
                    color: #ffffff;
                }
            }
        }
    }
}





.section__principal {
    @include tamanio (100%, 100vh);
    background-color: #faebd71f;
    padding: 7rem;

    .title {
        font-family: 'Noto Serif Toto', serif;
        color: #EEEEEE;
        font-size: 80px;
        text-align: center;
        padding: 50px;

        /*coloressss*/
        .t1 {
            background-color: $color-main;


            &:hover {
                background-color: #ffffff;
                color: #000000;
                box-shadow: 0px 0px 5px 2px #000000;
            }
        }

        .t2 {
            background-color: $color-second;

            &:hover {
                background-color: #000000;
            }
        }

        .t3 {
            background-color: $color-main;

            &:hover {
                background-color: #ffffff;
                color: #000000;
                box-shadow: 0px 0px 5px 2px #000000;
            }
        }

        .t4 {
            background-color: $color-second;

            &:hover {
                background-color: #000000;
            }
        }

        .t5 {
            background-color: $color-main;

            &:hover {
                background-color: #ffffff;
                color: #000000;
                box-shadow: 0px 0px 5px 2px #000000;
            }
        }

        .t6 {
            background-color: $color-second;

            &:hover {
                background-color: #000000;
            }
        }

        .t7 {
            background-color: $color-main;

            &:hover {
                background-color: #ffffff;
                color: #000000;
                box-shadow: 0px 0px 5px 2px #000000;
            }
        }

        .t8 {
            background-color: $color-second;

            &:hover {
                background-color: #000000;

            }
        }

        .promover {
            font-family: 'Noto Serif Toto', serif;
            border-bottom: double;
            text-align: center;
            display: inline-grid;
            color: #000000;
            margin: 0;
            padding: 10px;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

