#article {
    padding: 5% 0px;    
    
    .btn {
        font-family: 'Noto Serif Toto', serif;
        background-color: #ffffff54;
        padding: 0px;
        color: #000000;
        font-size: 25px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 5px #02020254;
    }
    .h3 {
        font-family: 'Noto Serif Toto', serif;
        text-align: center;
        margin: 10px;
        font-size: 25px;
        color: #ffff;
        background: #340979;
        background: linear-gradient(333deg, #340979 26%, #806bc3 45%, #00d4ff 89%);
    }


}
