@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto:wght@700&family=Noto+Serif:ital@1&family=Open+Sans&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

i {
    font-size: 20px;
}

p {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}